* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    color: #333;
}
body{
    font-family: sans-serif;
}
#main{
    background-color: #eee;
    margin: 30px 10px;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title{
    padding: 20px;
    font-size: 42px;
    line-height: 1.2;
}
#title + p{
    padding: 15px;
}
#img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 10px;
    min-width: 100%;
}
#image{
    max-width: 100%;
    display: block;
    height: auto;
}
#img-caption{
    text-align: center;
    padding: 10px;
}

#tribute-info {
    max-width: 60%;
}

#tribute-info h3 { 
    padding: 50px 0;
}

#tribute-info ul li {
    margin-bottom: 20px;
}

#tibute-info > q, 
#tibute-info > p {
    font-style: italic;
} 

@media screen and (min-width: 1024px) {
    #tribute-info {
        
    padding: 50px;
    }
}